CLIENT_GATEWAY_PORT=

PAGOS_MS_PORT=
# https://dashboard.stripe.com/acct_1TLOJP8TTjEL5Hk9/test/dashboard
# Claves de API: clave secreta
STRIPE_TESTING_SECRET_KEY=

STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# https://dashboard.stripe.com/acct_1TLOJP8TTjEL5Hk9/test/workbench/webhooks/we_1TM5sp8TTjEL5Hk9wbHUfRPA
# Este es el signing secret del Webhook
# Usa este secreto para verificar que los eventos procedan de Stripe. Siempre puedes ver o cambiar este secreto desde la página de detalles del destino.
STRIPE_ENDPOINT_SECRET=
NATS_SERVER=

AUTH_DATABASE_URL=

JWT_SECRET=