:global(#root){
    height: 100vh;
}

.contenedorPadre {
  display: flex;        
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;  
    box-sizing: border-box;      
}

.mainLayout {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex; 
    flex: 1;
}

.panelProductos {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0px;
}

.itemProductoBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b5dea0;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    text-align: left; 
}

.itemProductoBtn:hover {
    background-color: #45cb6db1;
    border-color: #029c57;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.itemProductoBtn:active {
    transform: translateY(0);
    background-color: #99fc04;
}

.infoProducto {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nameProd {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
}

.precioProd {
    color: #074304;
    font-weight: 600;
    font-size: 20px;
}

.plusIcon {
    font-size: 24px;
    color: #037d46;
    font-weight: bold;
}

.plusIcon:hover {
    color: #033b22;
}

.appContent {
    flex: 1; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.contentArea {
    flex: 1;
    overflow-y: auto;
    background-color: #000; 
}

/* Paneles */

.seccionPrincipal {
    display: flex;
    flex-direction: column;
    flex: 3;
    overflow: hidden;
}

.columnaIzquierdaInterna {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 300px; 
    color: #fff;
    gap: 5px;
    padding: 5px;
    overflow: hidden;
}

.columnaIzquierdaInterna h2 {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

/* Panel Lateral */
.txtPanelLateral {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 200px;
    color: #fff;
}

.txtPanelLateral h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Paneles Blancos */
.panelProductos{
    flex: 1; 
    background-color: #fff;
    border-radius: 8px;
    overflow: auto; 
}

.panelLateral {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    margin: 0 5px 5px 0;
}

.panelFooter {
    background-color: #89dc2a;
    height: 100px; 
    flex-shrink: 1; 
    z-index: 10;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.panelFooter h1{
    font-size: 50px;
    padding: 0px 45px 0 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.contenedorColumnas {
    display: flex;
    flex: 1; 
    gap: 5px;
    padding: 5px;
    overflow: hidden;
}

@media (max-width: 800px) {
    .seccionPrincipal {
        flex-direction: column; 
        overflow-y: auto; 
    }
    
    .columnaIzquierdaInterna, .txtPanelLateral {
        width: 100%;
        flex: none;
        height: 400px; 
    }
}