/* SIDEBAR: No se toca */
.sidebar {
    width: 150px;
    background-color: #000000;
    height: 100%; /* O el alto que herede del appContent */
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(15, 230, 0);
}

.linkside{
    display: flex;
    flex-direction: column;
    height: 100%; /* CLAVE: La lista debe medir todo el alto del sidebar */
    margin: 0;
    padding: 0;
    list-style: none;
}

.linkside a{
    text-decoration: none;
    font-family: comic-sans-ms, sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #dfff6b;
    text-shadow: 2px 2px 4px rgba(98, 216, 2, 0.5);
}

.btn1{
    background-color: #000000;
    border-bottom: 1px solid rgb(15, 230, 0);
}

.btn1 :hover{
    background-color: rgb(139, 246, 0);
    transition: background 0.5s;
    color: #000000;
}

.btn1 a{
    color: #dfff6b;
}

.btn2{
    background-color: rgb(0, 0, 0);
    color: #dfff6b;
    border-bottom: 1px solid rgb(15, 230, 0);
    
}

.btn2 :hover{
    background-color: rgb(139, 246, 0);
    transition: background 0.5s;
    color: #000000;
}

.btn3 {
    margin-top: auto;
    margin-bottom: 3px;
    border: 1px solid rgb(0, 0, 0);
}

.btn3 a{
    color: rgb(160, 233, 2);
}

.settingsIcon {
  transition: transform 0.5s ease-in-out;
}

.configLink:hover .settingsIcon {
  transform: rotate(160deg);
}

