:global(#root){
    height: 100vh;
}

.contenedorPadre {
  display: flex;        
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esto es vital */
    background-color: #000;  
    box-sizing: border-box;      
}

.mainLayout {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex; 
    flex: 1;
}

.appContent {
    flex: 1; /* Esto empuja al footer */
    display: flex;
    flex-direction: row; /* Productos a la izquierda, Lateral a la derecha */
    overflow: hidden;
}

.contentArea {
    flex: 1;
    overflow-y: auto;
    background-color: #000; 
}

/* Paneles */

.seccionPrincipal {
    display: flex;
    flex-direction: column;
    flex: 3;
    overflow: hidden;
}

.columnaIzquierdaInterna {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 300px; 
    color: #fff;
    gap: 5px;
    padding: 5px;
    overflow: hidden;
}

.columnaIzquierdaInterna h2 {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

/* Columna Derecha (Panel Lateral) */
.txtPanelLateral {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 200px;
    color: #fff;
}

.txtPanelLateral h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Los Paneles Blancos */
.panelProductos{
    flex: 1; 
    background-color: #fff;
    border-radius: 8px;
    overflow: auto; 
}

.panelLateral {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    margin: 0 5px 5px 0;
}

.panelFooter {
    background-color: #F1A10A;
    height: 100px; 
    flex-shrink: 1; /* Prohibido achicarse */
    z-index: 10;    /* Lo pone por encima de cualquier otro div */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.panelFooter h1{
    font-size: 50px;
    padding: 0px 45px 0 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedorColumnas {
    display: flex;
    flex: 1; 
    gap: 5px;
    padding: 5px;
    overflow: hidden;
}











@media (max-width: 800px) {
    .seccionPrincipal {
        flex-direction: column; 
        overflow-y: auto; 
    }
    
    .columnaIzquierdaInterna, .txtPanelLateral {
        width: 100%;
        flex: none;
        height: 400px; 
    }
}